*{									/*agregar esta regla en el doc de esilo siempre para resetear estilos*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background:#dda0dd; /*color fondo contenedor*/
	width:90%;
	max-width:700px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

header {
	background:#dda0dd; /*color fondo titulo*/
	width:100%;
	padding:40px;  /*tamano header */

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:column;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
}

header .logo img {
	width:100%;
	vertical-align:middle;
}

header .logo a {
	color:#800080; /*color letras titulo CV*/
	font-size: 30%;
	font-family: monospace;
	text-decoration: none;
	line-height:100px;
	
}

header nav {
	width:40%; /* tamano bloques  */
	/* Flexbox */
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	flex-direction:column;
	
}

header nav a {
	background:#800080; /*color cuadros */
	color:#000; /*color letras */
	text-align: center;
	text-decoration: none;
	padding:15px; /* ancho bloques  */
 align-items: center;
	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	
	background:#A51DD4; /*color mouse sobre bloques*/
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}

@media screen and (max-width: 400px) {
	aside {
		flex-direction:column;
	}
